# db files
db.json
db.sqlite

# env files
.env

# videos
videos/

# cursor chats
.specstory/

__pycache__/

# assets
test_videos/
extracted_snippets/
narratives.json
snippet_timestamps.json
transcription.json

.DS_Store
